# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage

.firebase

src/presentations/thumbs
TODO.md
*.serviceaccount.json

# Don't commit auto generated icons
public/apple-touch-icon-*.png
public/favicon.ico
public/maskable-icon-*.png
public/pwa-*.png
/test-results/
/playwright-report/
/playwright/.cache/
.pnpm-store